<XML>
	<NFServer>
		<Plugin Index="0" Name="nf_log_plugin" />
		<Plugin Index="1" Name="nf_kernel_plugin" />
		<Plugin Index="2" Name="nf_config_plugin" />
		<Plugin Index="3" Name="nf_rediscluster_plugin" />
		<Plugin Index="4" Name="nf_mybatis_plugin" />
		<Plugin Index="5" Name="nf_dubbo_plugin" />
		<Plugin Index="6" Name="nf_mall_plugin" />
		<Plugin Index="7" Name="nf_mapping_plugin" />
		<ConfigPath Name="../" />
	</NFServer>
</XML>